<!DOCTYPE html>
<html>
<head>
	<title> Welcome friend to the ONLINE CALCULATOR OF DOOM!</title>
</head>
<body>
<div class=\"centered\"><h1>#{DateTime.now}</h1></div>
	<a href="/multpliy"> Multiplicatory!</a>
	<a href="/subtraction"> Subtractory!</a>
	<a href="/addition"> Additional!</a>
	<a href="/division"> Divisive!</a>


</body>
</html>