<!DOCTYPE html>
<html>
<head>
	<title>Ironhack Student Directory</title>
</head>
<body>
	<ul>
		<li>  </li>

	</ul>
	<form type = "text" method = "post">
		<li><input type="text", name="name"<br></li>
		<li><input type="text", name="surnames"<br></li>
		<li><input type="text", name="birthday"<br></li>
		<li><input type="text", name="website"<br></li>
		<li><input type="text", name="number_of_dogs"<br></li>
		<li><input type="text", name="first_programming_experience"<br></li>
	</form>
	
</body>
</html>